.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 8px 15px;
}

.clear,
.clearInverted {
    background: none;
    border: none;
    padding: 0;
}

.clearInverted {
    color: var(--inverted-primary-color);
}


.outline {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.small {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font-size: var(--font-m);
}

.square.medium {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font-size: var(--font-l);
}

.square.large {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font-size: var(--font-xl);
}

.small {
    font: var(--font-m);
}

.medium {
    font: var(--font-l);
}

.large {
    font: var(--font-xl);
}