.link {
    display: block;
    white-space: nowrap;
}

.collapsed {
    .link {
        display: none;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-primary-color)
}