.app.normal {

  --bg-color: var(--color-white);
  --inverted-bg-color: var(--color-blue90);

  --primary-color: var(--color-blue50);
  --inverted-primary-color:var(--color-green100);
  --secondary-color: var(--color-blue100);
  --inverted-secondary-color:var(--color-green60)

}